@font-face {
    font-family: AlreadyBroken;
    src: url(Fuentes/Already-Broken-Scratch-Demo-Version.ttf) format(truetype);
}

a {
    color: #FDF430;
   }

a:hover {
    text-decoration: line-through;
    color: white;
   }

a {
    text-decoration-color: rgba(255, 0, 255, 0);
   }

body {
    margin: 0;
}

.PAG01 {
    background-color: black;
    width: 1900px;
    height: 975px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo01 {
    background: url(Imagenes/Fondo01.png);
    display: flex;
    justify-content: end;
    align-items: end;
    width: 98%;
    height: 98%;
}

.texto {
    color: #FDF430;
    font-family: AlreadyBroken;
    font-size: 100px;
    line-height: 10px;
    text-align: end;
    justify-content: end;
}

.PAG02 {
    background: url(Imagenes/02.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 1900px;
    height: 1949px;
}

.fondo02 {
    background-color: rgba(153, 205, 50, 0);
    position: absolute;
    top: 1500px; 
    width: auto;
    height: 100px;
}

.titulo1 {
    background-color: rgba(0, 0, 255, 0);
    color: #FDF430;
    font-family: AlreadyBroken;
    font-size: 80px;
    width: 500px;
    height: 200px;
}

.texto1 {
    background-color: #FDF430;
    font-family: 'Lato', sans-serif;   
    width: 500px;
    height: 250px;
}

.PAG03 {
    background-color: #FDF430    ;
    position: absolute;
    top: 1950px; 
    width: 1900px;
    height: 975px;
}

.imagensilueta {
    position: absolute;
    bottom: 0px; 
    left: 600px;
    width: 700px;
}

.caja01 {
    background-color: rgba(0, 0, 255, 0);
    position: absolute;
    top: 50px;
    left: 60px;
    width: 500px;
    height: 420px;
}

.titulo2 {
    font-family: AlreadyBroken;
    font-size: 100px;
    line-height: 80px;
}

.texto2 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

.caja02 {
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    top: 500px;
    left: 80px;
    width: 550px;
    height: 300px;
}

.titulo3 {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    line-height: 60px;
}

.texto3 {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}

.caja03 {
    background-color: rgba(255, 0, 179, 0);
    position: absolute;
    top: 110px;
    left: 1200px;
    width: 450px;
    height: 300px;
}

.titulo4 {
    font-family: AlreadyBroken;
    font-size: 70px;
    line-height: 60px;
}

.texto4 {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.caja04 {
    background-color: rgba(0, 255, 42, 0);
    position: absolute;
    top: 350px;
    left: 1250px;
    width:500px;
    height: 200px;
}

.titulo5 {
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

.texto5 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.caja05 {
    background-color: rgba(255, 145, 0, 0);
    position: absolute;
    top: 650px;
    left: 1200px;
    width: 400px;
    height: 210px;
}

.titulo6 {
    font-family: AlreadyBroken;
    font-size: 50px;
}

.texto6 {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}

.PAG04 {
    width: 1900px;
    height: 1080px;
    background: url(Imagenes/Landing\ Info-02.png);
}

.PAG05 {
    width: 1900px;
    height: 1080px;
    background: url(Imagenes/Landing\ Info-03.png);
}

.PAG06 {
    width: 1900px;
    height: 1080px;
    background: url(Imagenes/Landing\ Info-04.png);
}

.piedepag {
    background: url(Imagenes/fondo.png);
    background-position: center;
    width: 1900px;
    height: 450px;
}

.logo6lks {
    position: absolute;
    top: 6250px; 
    left: 50px;
    width: 300px;
}

.punkstyle {
    background-color: rgba(210, 105, 30, 0);
    width: 300px;
    position: absolute;
    top: 6205px; 
    left: 800px;
}

.textopunk {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 14px;
}

.titulopunk {
    color: white;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 36px;
}

.titulopunk2 {
    color: white;
    font-family: 'Lato', sans-serif; 
    font-weight: bold;
    font-size: 36px;
}

.textopunk2 {
    color: white;
    font-family: 'Lato', sans-serif; 
    font-size: 14px;
    line-height: 5px;
}

.textopunk3 {
    color: white;
    font-family: 'Lato', sans-serif; 
    font-size: 14px;
}

.ico {
    width: 38px;
    background-color: #fdf33000;
}

.iconos {
    display: flex;
    gap: 2px;
    width: 114px;
}

.RedesCaja {
    background-color: rgba(0, 255, 255, 0);
    position: absolute;
    top: 6450px; 
    left: 800px;
    width: 110px;
}

.integrantes {
    background-color: rgba(0, 255, 128, 0);
    position: absolute;
    top: 6200px;
    left: 1200px;
    width: 260px;
}

.Ideapunk {
    background-color: rgba(4, 0, 255, 0);
    position: absolute;
    top: 6400px;
    left: 1200px;
    width: 260px;
}

.logo {
    color: white;
    width: 38px;
    background-color: #fdf33000;
}

.logos {
    display: flex;
    gap: 7px;
    width: 228px;
}

.cajalogos {
    background-color: rgba(0, 255, 255, 0);
    position: absolute;
    top: 6500px;
    left: 1600px;
    width: 233px;
}